@font-face {
  font-family: 'Patrick Hand';
  src: url('PatrickHandSC-Regular.ttf') format('truetype');
}

body {
  font-family: 'Patrick Hand', cursive;
  margin-top: 30px 0px 0px 0px;
  padding: 0;
  background-image: url("lined-paper-2.png");
}

h1 {
  text-align: center;
  padding: 20px 0 0 0;
  border-bottom: 4px solid black;
  margin: 0 300px;
  font-size: 70px;
}

form {
  width: 80%;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 1em;
  font-size: 25px;
}

input[type="text"], textarea {
  background-color: #FCF5E5;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  margin: 1em auto;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: #ADD8E6;
  color: black;
}

button:hover {
  background-color: gray;
  color: #FCF5E5;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#recipe-list {
  width: 80%;
  margin: 1em auto;
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

.recipe-line {
  height: 1px;
	background-color: black;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	left: 0;
	width: 50%;
  display: none;
}

.recipe:not(:last-child) .recipe-line {
  display: block;
  margin-left: 25%;
}

/* Printing style */
@media print {
  /* Remove form elements */
  form {
    display: none;
  }
  
  /* Position Chef and Notes next to each other */
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 0;
    padding-top: 20px;
    border-bottom: 4px solid black;
    page-break-after: avoid; /* prevent the header from breaking across pages */
  }
  
  h1 span:first-child {
    margin-right: 20px; /* add space between Chef and Notes */
  }
  
  /* Adjust margins and padding */
  body {
    margin: 20mm 25mm 20mm 25mm; /* top right bottom left */
    padding: 0;
  }
  
  h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
  }
  
  /* Add page breaks between recipes */
  .recipe:not(:last-child) {
    page-break-after: always;
  }
  #recipe-list {
    margin-left: 0; 
  }
}

/* Media query for screens with a maximum width of 600 pixels */
@media screen and (max-width: 600px) {
  body {
    /* Modify the styles for smaller screens */
    margin-top: 10px;
    /* Add any other necessary adjustments */
  }

  h1 {
    /* Modify the styles for smaller screens */
    font-size: 40px;
    margin: 0 50px;
    /* Add any other necessary adjustments */
  }

  form {
    /* Modify the styles for smaller screens */
    width: 90%;
    /* Add any other necessary adjustments */
  }

  button {
    font-size: 15px; /* Adjust the font size */
    padding: 0.3em; /* Adjust the padding */
  }
}

